@font-face {
  font-family: sahel;
  src: url("./font/Sahel-Bold.ttf");
}
@font-face {
  font-family: sahel-main;
  src: url("./font/Sahel-FD.ttf");
}
@font-face {
  font-family: laris;
  src: url(./font/Laris\ Regular.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/********************************************/
header {
  background-color: #d58a9473;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.logo1 {
  text-align: center;
}
.logo1 img {
  width: 60px;
  height: 60px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}
.menubar {
  text-align: center;
  margin: 0 auto;
}
.menubar a {
  margin: 0 20px;
  color: black;
  font-family: sahel;
  font-size: 14px;
}
.info {
  text-align: center;
  direction: rtl;
}
.info a {
  color: black;
  font-family: sahel;
  font-size: 14px;
  direction: ltr;
  margin: 0 20px;
}
.my-btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
}
/********************************************/
#mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.744);
  z-index: 999;
  display: none;
  transition: all 0.1s ease;
}
/********************************************/
.nav-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  background-color: #d58a94;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  padding: 50px 0;
  transition: right 1s ease;
}
.logo img {
  width: 60px;
  height: 60px;
}
.items {
  width: 100%;
}
.items li {
  text-align: right;
  padding: 30px;
}
.items li:not(.l1, .l2) {
  border-bottom: 2px solid snow;
}
.items li a {
  color: black;
  font-size: 14px;
  font-family: sahel;
}
.infos {
  width: 100%;
}
.infos li {
  text-align: right;
  padding: 30px;
}
.infos li:not(:first-child) {
  border-bottom: 2px solid snow;
}
.infos li a {
  color: black;
  font-size: 14px;
  font-family: sahel;
}
/********************************************/
.content {
  background-image: url(./prac-img/10.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo2 {
  font-size: 15vw;
  z-index: 99;
  color: #fffff0;
  text-align: center;
  letter-spacing: 5px;
  font-family: laris;
}
.logo2 span {
  width: 100%;
  font-size: 15vw;
  z-index: 999;
  background-image: url(./prac-img/11.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  font-family: laris;
}
.ptag {
  width: 100%;
  color: black;
  text-align: center;
  padding: 20px 0;
  font-family: sahel-main;
  font-size: 1.3vw;
}

.social-media * {
  width: 100%;
  font-size: 50px;
  margin: 20px 5px;
  color: #cd9a9f;
  width: 25px;
  height: 25px;
}
.btn {
  border: 1.5px solid #bf8b8f;
  margin: 15px 0;
  border-radius: 8px;
}
.btn button {
  padding: 5px 40px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #bf8b8f;
  color: #fffff0;
  border-radius: 5px;
  font-family: sahel-main;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn button:hover {
  color: #ffe6e8;
}
/********************************************/
.gallery {
  background-color: #c2898f;
  text-align: center;
}
.gallery h1 {
  color: #fffff0;
  font-family: sahel;
  padding: 15px 0;
}

.grid-item1 {
  grid-area: one;
}
.grid-item1 img {
  width: 50%;
  height: 50%;
  padding-top: 5px;
}
.grid-item1 div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.grid-item2 {
  grid-area: two;
}
.grid-item2 img {
  width: 50%;
  height: 50%;
  padding-bottom: 5px;
}
.grid-item2 div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item3 {
  grid-area: three;
}
.grid-item3 img {
  width: 30%;
  height: 30%;
  margin-right: 15px;
}
.grid-item3 > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

.grid-item4 {
  grid-area: four;
}
.grid-item4 img {
  width: 30%;
  height: 30%;
  margin-right: 15px;
}
.grid-item4 > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 5px;
}

.grid-item5 {
  grid-area: five;
}
.grid-item5 img {
  width: 50%;
  height: 50%;
  padding-bottom: 5px;
}
.grid-item5 div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 5px;
}

.grid-item6 {
  grid-area: six;
}
.grid-item6 img {
  width: 50%;
  height: 50%;
  padding-top: 5px;
}
.grid-item6 div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.grid-sec {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  gap: 30px;
  grid-template-areas:
    "one two three three"
    "four four five six";
}

.grid-sec p {
  color: #b3446c;
  font-family: fantasy;
}
.grid-sec > div {
  background-color: #fefefe;
  text-align: center;
  transition: all 0.4s ease;
  border-radius: 8px;
}
.grid-sec > div:hover {
  filter: contrast(75%);
}

.price {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 2px 20px;
  font-family: sahel-main;
  font-size: 12px;
  font-weight: 550;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #b3446c;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.price1 {
  margin: 10px 0;
  font-family: sahel-main;
  padding: 2px 20px;
  font-family: sahel-main;
  font-size: 12px;
  font-weight: 550;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #b3446c;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.price2 {
  margin: 10px 0;
  font-family: sahel-main;
  padding: 2px 20px;
  font-family: sahel-main;
  font-size: 12px;
  font-weight: 550;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #b3446c;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.price3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.price3 p {
  margin-bottom: 15px;
  margin-left: 15px;
}
/********************************************/
.form_section {
  background-image: url(./prac-img/2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px 50px;
  height: 460px;
}
.main-sec {
  width: 420px;
  height: 420px;
  border: 4px solid #dfe3e6;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.main {
  width: 400px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.form_section div form {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_section form label {
  padding: 15px 0;
  font-family: sahel-main;
  font-size: 12px;
}
.form_section form input {
  width: 300px;
  height: 25px;
  text-align: right;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-right: 5px;
}
.but {
  border: 1.5px solid #bf8b8f;
  margin: 15px 0;
  border-radius: 8px;
}
.form_section form button {
  padding: 5px 40px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #bf8b8f;
  color: #fffff0;
  border-radius: 5px;
  font-family: sahel-main;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.form_section form button:hover {
  color: #ffe6e8;
}
.form_section form p {
  text-align: center;
  font-family: sahel-main;
  font-size: 12px;
  margin: 10px 0;
}
.form_section form h1 {
  text-align: center;
  font-family: sahel;
  color: #bf8b8f;
}
/********************************************/
.services {
  background-color: #ecf1f4;
}
.services h1 {
  text-align: center;
  font-family: sahel;
  color: #bf8b8f;
  padding: 15px 0;
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  width: 200px;
  overflow: hidden;
  margin: 20px 100px;
}
.card img{
  width: 100%;
  height: auto;
}
.card-content{
  padding: 16px;
}
.card-content p{
  color: black;
  font-size: 12px;
  text-align: center;
  font-family: sahel-main;
}


/********************************************/
.pay-sec {
  background-color: #c2898f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
}
.pay {
  flex: 1 0 300px;
  height: fit-content;
  text-align: right;
}
.pay h1 {
  font-family: sahel;
  color: #fffff0;
}
.pay p {
  margin: 10px 0;
  font-family: sahel-main;
  font-size: 14px;
  color: #fffff0;
}
.pay img {
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.pic1 {
  flex: 0 1 300px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
}
.pic1 img {
  height: 100%;
  width: 100%;
}
/********************************************/
.footer-container {
  background-color: #ecf1f4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.footer-container img {
  width: 60px;
  height: 60px;
}

.dv-1 address {
  font-style: normal;
  margin-bottom: 15px;
  font-family: sahel-main;
  font-size: 14px;
  text-align: right;
}
.dv-1 h4 {
  font-family: sahel;
  text-align: right;
  margin-top: 15px;
}
.dv-2 p {
  font-family: sahel-main;
  font-size: 12px;
}
.logo3 {
  text-align: center;
  padding: 10px 0;
}
.media {
  text-align: center;
}
.media * {
  margin: 20px 5px;
  color: #cd9a9f;
  width: 25px;
  height: 25px;
}
.dv-3 li {
  text-align: right;
  margin: 15px 0;
  font-family: sahel-main;
  font-size: 14px;
}
.dv-3 a {
  color: black;
}

/****media queries****/

@media only screen and (max-width: 900px) {
  .my-btn {
    display: block;
  }
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .pic1 img {
    display: none;
  }
  .pay {
    text-align: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .dv-1 address {
    font-style: normal;
    margin-bottom: 5px;
    text-align: center;
  }
  .dv-1 h4 {
    text-align: center;
    margin-top: 5px;
  }
  .dv-3 li {
    text-align: center;
    margin: 5px 0;
  }
  .dv-2 p {
    font-size: 12px;
    text-align: center;
  }
  .logo3 {
    text-align: center;
    padding: 5px 0;
  }
  .logo2 span {
    background-image: none;
    background-color: #fffff0;
  }
}
@media only screen and (max-width: 660px) {
  .pay p {
    font-size: small;
  }
  .pay h1 {
    font-size: medium;
  }
  .pay img {
    margin-top: 15px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }
  .card p {
    font-size: 10px;
  }
  .grid-sec {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    gap: 30px;
    grid-template-areas:
      "one three two"
      "five four six";
  }
  .grid-item4 img {
    width: 50%;
    height: 50%;
    margin-right: 0px;
  }
  .grid-item4 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid-item3 > div {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .price3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .price3 p {
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .grid-item3 img {
    width: 50%;
    height: 50%;
    margin-right: 0px;
  }
  .grid-item3 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid-item2 div {
    flex-direction: column-reverse;
  }
  .grid-item5 div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .price {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .price1 {
    font-size: 10px;
  }
  .price2 {
    font-size: 10px;
    margin: 10px 0;
  }
  .price3 p {
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .grid-sec p {
    font-size: small;
  }
}
@media only screen and (max-width: 400px) {
  .pay p {
    font-size: x-small;
  }
  .pay img {
    margin-top: 15px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .media * {
    margin: 10px 5px;
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .ptag {
    display: none;
  }
  .form_section {
    height: 400px;
  }
  .main-sec {
    width: 340px;
    height: 340px;
    float: none;
  }
  .main {
    width: 320px;
    height: 320px;
  }
  .form_section form input {
    width: 230px;
  }
  .form_section form p {
    display: none;
  }
}
